In [32]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [33]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2022-06-16 21:22:19,-54.8000,-68.3000,31.66,93,75,5.66
1,1,Ekhabi,RU,2022-06-16 21:22:20,53.5102,142.9671,42.85,97,100,4.76
2,2,Kysyl-Syr,RU,2022-06-16 21:22:20,63.8986,122.7617,52.81,66,0,7.38
3,3,Dalianwan,CN,2022-06-16 21:22:21,39.0286,121.6950,68.04,88,48,8.95
4,4,Bethel,US,2022-06-16 21:22:21,41.3712,-73.4140,69.89,84,100,8.05

In [34]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [35]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [36]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [37]:
# Heatmap of temperature.
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# Heatmap of percent humidity.
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# Heatmap of percent cloudiness.
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# Heatmap of wind speeds.
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [42]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Atuona,PF,2022-06-16 21:22:22,-9.8000,-139.0333,77.90,70,2,19.86
8,8,Foster City,US,2022-06-16 21:22:23,37.5586,-122.2711,82.11,58,20,21.85
10,10,Avarua,CK,2022-06-16 21:22:23,-21.2078,-159.7750,78.85,65,20,8.05
15,15,Kapaa,US,2022-06-16 21:22:25,22.0752,-159.3190,82.38,78,20,13.80
19,19,Puerto Ayora,EC,2022-06-16 21:22:27,-0.7393,-90.3518,78.76,92,74,5.99
23,23,Carutapera,BR,2022-06-16 21:22:28,-1.1950,-46.0200,76.28,88,100,7.18
31,31,Cururupu,BR,2022-06-16 21:22:32,-1.8283,-44.8683,77.07,83,37,3.87
36,36,Padang,ID,2022-06-16 21:22:34,-0.9492,100.3543,76.15,91,100,3.42
42,42,Marzuq,YE,2022-06-16 21:22:36,14.4000,46.4667,79.34,49,69,5.35
44,44,Bengkulu,ID,2022-06-16 21:22:37,-3.8004,102.2655,76.41,85,100,3.24

In [43]:
# Determining null values, if any.
preferred_cities_df.count()

City_ID       177
City          177
Country       177
Date          177
Lat           177
Lng           177
Max Temp      177
Humidity      177
Cloudiness    177
Wind Speed    177
dtype: int64

In [44]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
6         Atuona      PF     77.90  -9.8000 -139.0333
8    Foster City      US     82.11  37.5586 -122.2711
10        Avarua      CK     78.85 -21.2078 -159.7750
15         Kapaa      US     82.38  22.0752 -159.3190
19  Puerto Ayora      EC     78.76  -0.7393  -90.3518
23    Carutapera      BR     76.28  -1.1950  -46.0200
31      Cururupu      BR     77.07  -1.8283  -44.8683
36        Padang      ID     76.15  -0.9492  100.3543
42        Marzuq      YE     79.34  14.4000   46.4667
44      Bengkulu      ID     76.41  -3.8004  102.2655

In [45]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [46]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
  
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [47]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Atuona,PF,77.90,-9.8000,-139.0333,Villa Enata
8,Foster City,US,82.11,37.5586,-122.2711,Crowne Plaza - Foster City Hotel
10,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn
15,Kapaa,US,82.38,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
19,Puerto Ayora,EC,78.76,-0.7393,-90.3518,Finch Bay Galapagos Hotel
...,...,...,...,...,...,...
524,Moerai,PF,75.18,-22.4333,-151.3333,Le Manotel
530,Banikoara,BJ,78.73,11.2985,2.4386,Hôtel de l'UCom CVPC
533,Miri,MY,75.34,4.4148,114.0089,"Mega Hotel, Miri"
536,Ocos,GT,86.18,14.5094,-92.1933,Auto Hotel El Soñador
538,Acapulco,MX,78.62,16.8634,-99.8901,HS Hotsson Smart Acapulco

In [48]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [51]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [52]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))