## Deliverable 2. Create a Customer Travel Destinations Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ushuaia,AR,2022-06-17 01:34:00,-54.8000,-68.3000,31.66,80,75,13.80,light snow
1,1,Dunedin,NZ,2022-06-17 01:43:07,-45.8742,170.5036,46.24,67,14,5.48,few clouds
2,2,Arawa,PG,2022-06-17 01:47:29,-6.2132,155.5367,85.32,66,97,5.17,overcast clouds
3,3,Nikolskoye,RU,2022-06-17 01:42:40,59.7035,30.7861,55.87,75,100,6.31,overcast clouds
4,4,Fort-De-France,MQ,2022-06-17 01:47:30,14.6089,-61.0733,80.55,78,100,8.05,overcast clouds

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria.
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 70
What is your desired maximum temperature for your trip? 90

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Arawa,PG,2022-06-17 01:47:29,-6.2132,155.5367,85.32,66,97,5.17,overcast clouds
4,4,Fort-De-France,MQ,2022-06-17 01:47:30,14.6089,-61.0733,80.55,78,100,8.05,overcast clouds
5,5,Axim,GH,2022-06-17 01:47:30,4.8699,-2.2405,75.20,91,91,10.56,light rain
6,6,Thongwa,MM,2022-06-17 01:47:30,16.7619,96.5278,82.56,73,98,5.23,overcast clouds
7,7,San Cristobal,VE,2022-06-17 01:47:31,7.7669,-72.2250,75.38,98,36,2.37,scattered clouds
...,...,...,...,...,...,...,...,...,...,...,...
653,653,Crotone,IT,2022-06-17 01:50:59,39.0851,17.1178,72.37,63,0,3.00,clear sky
654,654,Jacareacanga,BR,2022-06-17 01:50:59,-6.2222,-57.7528,73.76,74,86,0.96,overcast clouds
658,658,Sabha,LY,2022-06-17 01:51:01,27.0377,14.4283,75.58,28,0,9.78,clear sky
661,661,Tura,IN,2022-06-17 01:51:02,25.5198,90.2201,74.61,97,99,7.27,heavy intensity rain
663,663,Cap Malheureux,MU,2022-06-17 01:51:02,-19.9842,57.6142,70.47,78,1,1.99,clear sky

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Date                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Arawa,PG,2022-06-17 01:47:29,-6.2132,155.5367,85.32,66,97,5.17,overcast clouds
4,4,Fort-De-France,MQ,2022-06-17 01:47:30,14.6089,-61.0733,80.55,78,100,8.05,overcast clouds
5,5,Axim,GH,2022-06-17 01:47:30,4.8699,-2.2405,75.20,91,91,10.56,light rain
6,6,Thongwa,MM,2022-06-17 01:47:30,16.7619,96.5278,82.56,73,98,5.23,overcast clouds
7,7,San Cristobal,VE,2022-06-17 01:47:31,7.7669,-72.2250,75.38,98,36,2.37,scattered clouds
...,...,...,...,...,...,...,...,...,...,...,...
653,653,Crotone,IT,2022-06-17 01:50:59,39.0851,17.1178,72.37,63,0,3.00,clear sky
654,654,Jacareacanga,BR,2022-06-17 01:50:59,-6.2222,-57.7528,73.76,74,86,0.96,overcast clouds
658,658,Sabha,LY,2022-06-17 01:51:01,27.0377,14.4283,75.58,28,0,9.78,clear sky
661,661,Tura,IN,2022-06-17 01:51:02,25.5198,90.2201,74.61,97,99,7.27,heavy intensity rain
663,663,Cap Malheureux,MU,2022-06-17 01:51:02,-19.9842,57.6142,70.47,78,1,1.99,clear sky

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Arawa,PG,85.32,overcast clouds,-6.2132,155.5367,
4,Fort-De-France,MQ,80.55,overcast clouds,14.6089,-61.0733,
5,Axim,GH,75.20,light rain,4.8699,-2.2405,
6,Thongwa,MM,82.56,overcast clouds,16.7619,96.5278,
7,San Cristobal,VE,75.38,scattered clouds,7.7669,-72.2250,
9,Dingle,PH,87.01,scattered clouds,10.9995,122.6711,
13,Adre,TD,82.06,broken clouds,13.4667,22.2000,
19,Grenada,ES,84.56,clear sky,37.1882,-3.6067,
21,Vlore,AL,70.56,clear sky,40.4667,19.4897,
23,Rikitea,PF,72.50,broken clouds,-23.1203,-134.9692,

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame.
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [19]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis="index", how="any")
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Arawa,PG,85.32,overcast clouds,-6.2132,155.5367,Coastline Guest House
4,Fort-De-France,MQ,80.55,overcast clouds,14.6089,-61.0733,Patio Gallieni
5,Axim,GH,75.20,light rain,4.8699,-2.2405,Axim Beach Resort And Spa
6,Thongwa,MM,82.56,overcast clouds,16.7619,96.5278,Mhaw Wun Marlar Park
7,San Cristobal,VE,75.38,scattered clouds,7.7669,-72.2250,Pirineos
9,Dingle,PH,87.01,scattered clouds,10.9995,122.6711,SEGAYA PROPERTY
19,Grenada,ES,84.56,clear sky,37.1882,-3.6067,HOTEL REINA CRISTINA
21,Vlore,AL,70.56,clear sky,40.4667,19.4897,Hotel Martini
23,Rikitea,PF,72.50,broken clouds,-23.1203,-134.9692,People ThankYou
26,Chicomuselo,MX,71.24,overcast clouds,15.7667,-92.2667,En Chicomuselo

In [20]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [23]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [25]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.2)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))